/* Copyright 2013 Michael Bostock. All rights reserved. Do not copy. */

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

.ocks-org body {
  background: #fcfcfa;
  color: #333;
  font-family: Helvetica Neue;
  margin: 0.5 auto 2em auto;
  /* position: absolute; */
  top:0%;
  bottom:0%;
  left:0%;
  right:0%;
}

.ocks-org header,
.ocks-org footer,
.ocks-org aside,
.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  font-family: Helvetica Neue;
}

.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  color: #000;
}

.ocks-org header,
.ocks-org footer {
  color: #636363;
}

.container {
padding-right: 1%;
padding-left: 1%;
margin-right: 0%;
margin-left: 5%;
}

h1 {
  font-size: 3vw;
  font-weight: bold;
  margin: 0.5em 0 0.3em -0.5em;
}

h2 {
  font-size: 1.2vw;
  font-weight: bold;
  margin: 0em 0em 1em 0;
  color: white;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

body > p, li > p {
  line-height: 1.5em;
}

blockquote q {
  display: block;
  font-style: oblique;
}

textarea {
  font-size: 100%;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

blockquote q {
  line-height: 1.5em;
  display: inline;
}

blockquote q:before,
blockquote q:after {
  content: "";
}

        text{
          font-size: 0.8vw;
          fill: yellow;
        }

        .timeaxis path, line {
          fill: none;
          stroke: yellow;
          shape-rendering: crispEdges;
        }

        .timeaxis text {
          stroke: transparent;
          font-weight: normal;
          font-size: 0.8vw;
        }

        .axis path, .axis line {
          fill: none;
          stroke: yellow;
          shape-rendering: crispEdges;
        }

        .axis text {
          stroke: transparent;
          font-weight: normal;
          font-size: 0.8vw;
        }

        .label {
          fill: yellow;
        }

        .overlay{
          pointer-events: all;
          cursor: ew-resize;
          fill: transparent;
          font-size: 1vw;
        }

        .tooltip {
           cursor: help;
           position: absolute;
           top: -10px;
           display: none;
           font-weight: normal;
           color: black;
           background-color: rgba( 255, 255, 0, .7);
           font-size: 1.2vw;
           text-shadow: none;
           -webkit-border-radius: 7px;
           -moz-border-radius: 7px;
           -o-border-radius: 7px;
           border-radius: 7px;
           text-align: left;
           opacity: 0;
           -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
           -ms-transition:opacity 250ms ease-out;
           -o-transition:opacity 250ms ease-out;
           transition:opacity 250ms ease-out;
           padding: 10px;
           margin-right: -620px;
           width: 300px;
        }

        .cooltip {
           display: none;
           opacity: 0;
           position: fixed;
           font-weight: normal;
           color: black;
           background-color: rgba( 255, 255, 0, .7);
           z-index: 998;
           font-size: 1.2vw;
           text-shadow: none;
           -webkit-border-radius: 7px;
           -moz-border-radius: 7px;
           -o-border-radius: 7px;
           border-radius: 7px;
           text-align: left;
           padding: 10px;
           margin: 0.5em 0.5em 2em;
           width: 450px;
        }


        .field:hover .tooltip{
           display: block;
           opacity: 1;
        }

        .axis .g-halo {
           stroke: black;
           stroke-width: 4px;
           stroke-linecap: round;
        }

        .g-slider .g-handle path {
           stroke: yellow;
           stroke-width: 3px;
           stroke-linecap: round;
           pointer-events: none;
        }

        .g-slider .g-handle text {
           fill: yellow;
           font-size: 1.2vw;
           font-weight: bold;
        }
 
