/* Copyright 2013 Michael Bostock. All rights reserved. Do not copy. */

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

.ocks-org body {
  background: #fcfcfa;
  color: #333;
  font-family: Helvetica Neue;
  margin: 0.5em auto 2em auto;
  /* position: absolute; */
  top:0%;
  bottom:0%;
  left:0%;
  right:0%;
}

.ocks-org header,
.ocks-org footer,
.ocks-org aside,
.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  font-family: Helvetica Neue;
}

.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  color: #000;
}

.ocks-org header,
.ocks-org footer {
  color: #636363;
}

.container {
padding-right: 1%;
padding-left: 1%;
margin-right: 0%;
margin-left: 5%;
}

h1 {
  font-size: 4vw;
  font-weight: bold;
  margin: .3em 0 .1em 0;
}

h2 {
  font-size: 1.2vw;
  font-weight: bold;
  margin: .3em 0 .1em 0;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

body > p, li > p {
  line-height: 1.5em;
}

blockquote q {
  display: block;
  font-style: oblique;
}

textarea {
  font-size: 100%;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

blockquote q {
  line-height: 1.5em;
  display: inline;
}

blockquote q:before,
blockquote q:after {
  content: "";
}
